@if (user) {
  <section class="user">
    <div class="user-back">
      <button class="go-back" routerLink="/users">
        <img src="./assets/img/icon-arrow-left.svg" alt="go back" />
        <span>Go back</span>
      </button>
    </div>
    <div class="user-status-card flex-between theme-animation">
      <div class="flex-between">
        <p>Status</p>
        <span
          class="user-status"
          [ngClass]="'status-' + user.status.toLowerCase()"
          >
          {{ user.status }}
        </span>
      </div>
      <div class="user-actions top">
        @if (isAdmin) {
          <button class="btn" (click)="handleEdit()">Edit</button>
          <button class="btn btn-delete" (click)="openModal()">Delete</button>
        }

        @if (user.status.toLowerCase() !== 'active' && isAdmin) {
          <button
            class="btn btn-active"
            (click)="markAsActive()"
            >
            Mark As Active
          </button>
        }
      </div>
    </div>
    <div class="user-wrap theme-animation">
      <div class="user-header flex-between">
        <div class="user-header--left">
          <span>{{ user.id | slice: 0:6 }}</span>
          <h4>{{ user.first_name }} {{ user.last_name }}</h4>
          <h4>{{ user.email }}</h4>
          <h4>{{ user.username }}</h4>
          <h4>{{ user.job }}</h4>
        </div>
      </div>
      <div class="user-body flex-between">
        <div class="image-wrap">
          <img [src]="user.avatar" alt="userAvatar">
        </div>
      </div>
    </div>
    <div class="user-actions bottom">
      @if (isAdmin) {
        <button class="btn" (click)="handleEdit()">Edit</button>
        <button class="btn btn-delete" (click)="openModal()">Delete</button>
      }
      @if (user.status.toLowerCase() !== 'active' && isAdmin) {
        <button
          class="btn btn-active"
          (click)="markAsActive()"
          >
          Mark As Active
        </button>
      }
    </div>
  </section>
}


@if (modalService.openModal) {
  <app-modal>
    <div class="modal-user-delete">
      <h2>Confirm Deletion</h2>
      <p>
        Are you sure you want to delete user {{ user.id | slice: 0:6 }}? This action
        cannot be undone.
      </p>
      <div class="user-actions">
        <button class="btn" (click)="closeModal()">Cancel</button>
        <button class="btn btn-delete" (click)="handleDelete()">Delete</button>
      </div>
    </div>
  </app-modal>
}
